@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  color: #632806;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

/* navbar */

.navbar {
  background-color: #fbf7e3;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar ul {
  width: 100%;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.7rem;
}

.navbar ul li {
  display: inline-block;
  background-color: #f3df85;
  padding: 0.5rem 0.7rem;
  border-radius: 100px;
  text-align: center;
}

.navbar ul li a {
  font-size: 0.8rem;
}

.navbar ul li img {
  height: 30px;
}

.shop-link {
  max-width: 200px;
  flex-grow: 1;
  flex-shrink: 0;
}

.navbar .shop-link a {
  padding-block: 0.7rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 547px) {
  .navbar ul {
  }

  .navbar ul li {
    width: 40%;
  }

  .navbar ul .shop-link {
    width: 100%;
    margin-inline: 20%;
    order: -1;
  }
}

@media screen and (min-width: 768px) {
  .page-wrapper {
    display: flex;
  }

  .content-wrapper {
    display: flex;
    padding: 0;
  }

  .navbar {
    flex-shrink: 0;
    width: 180px;
    border-radius: 0;
    position: sticky;
    height: 100vh;
    top: 0;
    left: 0;
    align-items: center;
    align-items: flex-start;
  }

  .navbar ul {
    flex-direction: column;
    gap: 0.5rem;
  }

  .navbar ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 75px;
  }
}

/* main */

main {
  padding: 1rem;
}

/* cards */

.content-wrapper {
  margin-bottom: 1rem;
  margin-inline: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 0.5rem;
}

.card {
  width: 100%;
  padding-inline: 0.5rem;
}

.inner-card {
  background-color: #fbf7e3;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}

.card > div > div {
  padding-inline: 1.5rem;
  padding-block: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card h4 {
  font-size: 1.3rem;
  font-weight: 700;
}

.card p {
  font-size: 1.1rem;
  font-weight: 500;
  padding-left: 0.7rem;
}

.price {
  font-size: 1.3rem;
  font-weight: 600;
}

.card button {
  color: inherit;
  font-size: 0.9rem;
  width: initial;
  max-width: 170px;
  margin-inline: auto;
  background-color: #f3df85;
  border: none;
  border-radius: 50px;
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 575px) {
  h1,
  h3 {
    text-align: center;
  }
}

@media screen and (min-width: 576px) {
  .card {
    width: 49%;
  }

  .prod-info {
    width: 60%;
  }

  .prod-info h4 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .prod-info p {
    padding-left: 0;
    font-size: 0.9rem;
  }

  .card > div > div {
    padding-top: 1rem;
    padding-inline: 1rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .card:nth-of-type(3n) {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .content-wrapper {
    max-width: none;
  }

  .card {
    width: 33.333%;
    padding-inline: 0.2rem;
  }

  .card > div > div {
    padding-inline: 0.5rem;
  }

  .prod-info p {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .card:nth-of-type(3n),
  .card:nth-of-type(4n) {
    display: none;
  }
}

@media screen and (min-width: 991px) and (max-width: 1199px) {
  .card:nth-of-type(4n) {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .card {
    width: 25%;
  }

  .inner-card {
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    width: 20%;
  }
}

/* article */

.content-wrapper {
  max-width: 1200px;
  margin-inline: auto;
}

article {
  border-radius: 20px;
  background-color: #fbf7e3;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

article img {
  width: 50%;
  height: 300px;
}

article h1 {
  margin-bottom: 1.5rem;
}

article p {
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (max-width: 1199px) {
  article {
    padding: 2rem;
    flex-direction: column-reverse;
  }

  article img {
    width: 100%;
    object-fit: cover;
  }
}
